@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Russo One', sans-serif;
}

body {
	text-align: center;
	background-image: url(./img/fon2.png);
	color: rgb(255, 251, 0);

}

header {
	font-size: 30px;
	padding: 35px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	font-size: 25px;
}

.menu {
	margin: auto;
}

.btn {
	background-color: rgb(136, 255, 0);
	color: rgb(39, 38, 0);
	margin: 30px auto;
	padding: 8px;
	width: 250px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.btn:hover {
	scale: 1.1;
	transition: 0.2s;
}

.game-header {
	display: flex;
	align-items: center;
}

.reset {
	width: 150px;
}

.lvl {
	flex-grow: 1;
	text-align: left;
}

.null {
	padding-top: 0;
}

.game-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.card {
	width: 200px;
	height: 300px;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
	background-color: white;
	transition: 0.5s;
}

.rotate {
	transform: perspective(210px)rotateY(180deg);
	transition: 0.5s;
}